.App {
  padding-top: 3em; 
}

a {
  color: hotpink;
}

a:hover {
  color: pink;
}

.anchor{
	background:none;
    color: hotpink;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:none; 
    cursor: pointer;
}

.anchor:hover,
.anchor:visited {
  color: pink;
}

.anchor:focus {
	outline:0;
}


.ui.footer.form-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.spaced {
  margin-right: 10px;
}